*{
    margin: 0;
    padding: 0;
}

/* font-family: 'Courier Prime', monospace;
font-family: 'Nova Mono', monospace;
font-family: 'Space Mono', monospace; */

body{
    display: flex;
    justify-content: center;
    background-color: #332842;
}
a{
    color: #e0e1dd;
}
a:visited{
    color: #f29455;
}
.main{
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: 'Lora', serif; */
    /* font-family: 'Nova Mono', monospace; */
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 2.6875rem;
    color: #f29455;
    /* padding: 3.75rem 0rem; */
    /* border: 1px solid red; */
}

.lighthouse{
    width: 20rem;
    border-radius: 30%;
    /* border: 1px solid green; */
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Lora', serif; */
    font-family: 'Courier Prime', monospace;
    gap: 1.25rem;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 4.0625rem;
    color: #e0e1dd;
}

.line{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border: 0.125rem solid #e0e1dd;
}

.content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 83.75rem;
    display: flex;
    padding: 1.875rem 0rem;
    gap: 2.1875rem;
    border-bottom: 0.125rem solid #f29455;
}

.content-img{
    display: flex;
    width: 18.75rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 0.0938rem solid #e0e1dd;
}

.feed{
    width: 62.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 1.25rem 0rem;
}

.feed-header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    font-size: 1.8125rem;
    color: #e0e1dd;
}

.feed-meta{
    width: 62.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    font-size: 1.375rem;
    color: #e0e1dd;
}

@media only screen and (max-width:2560px) {
    .feed-meta{
        width: 99%;
    }
}
@media only screen and (max-width:1440px) {
    html{
        font-size: 75%;
    }
}

@media only screen and (max-width:1024px) {
    html{
        font-size: 54%;
    }
}

@media only screen and (max-width:768px) {
    html{
        font-size: 40%;
    }
}

@media only screen and (max-width:425px) {
    html{
        font-size: 43%;
    }
    .main{
        width: 80vw;
    }
    .title{
        flex-wrap: wrap-reverse;
        justify-content: center;
        font-size: 21.5px;
    }
    .lighthouse{
        width: 180px;
    }
    .content{
        width: 80vw;
    }
    .feed{
        width: 88%;
    }
    .feed-meta{
        width: 90%;
    }
}

@media only screen and (max-width:375px) {
    html{
        font-size: 45%;
    }
    .main{
        width: 70vw;
    }
    .content{
        justify-content: center;
        flex-wrap: wrap;
    }
    .img{
        display: flex;
        justify-content: center;
    }
    .content-img{
        width: 85%;
        height: 100%;
    }
    .feed{
        padding: 0;
    }
    .feed-meta{
        width: 100%;
    }
}